.carousel{
	height: 70vh;
}
.logo-img{
	width: 160px;
	height: auto;
}

.banner {
	background:url("../../assets/img/headerimage.jpg") no-repeat 0% 0% / 100% 100%;
	background-size: cover;
	color:#ffffff;
	text-align: center;
	height: auto;
	width: 100%;
}
.banner-overlay {
	background: rgb(223,146,254);
background: linear-gradient(0deg, rgba(223,146,254,1) 7%, rgba(184,158,252,0.835171568627451) 59%, rgba(157,170,250,0.3449754901960784) 99%);
width: 100%;
height: auto;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.banner2 {
	background:url("../../assets/img/headerimage2.jpg") no-repeat 0% 0% / 100% 100%;
	background-size: cover;
	color:#ffffff;
	text-align: center;
	height: auto;
	width: 100%;
}
.banner-overlay2 {
	background: rgb(223,146,254);
background: linear-gradient(0deg, rgba(223,146,254,1) 7%, rgba(184,158,252,0.835171568627451) 59%, rgba(157,170,250,0.3449754901960784) 99%);
width: 100%;
height: auto;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}


.banner3 {
	background:url("../../assets/img/headerimage3.jpg") no-repeat 0% 0% / 100% 100%;
	background-size: cover;
	color:#ffffff;
	text-align: center;
	height: auto;
	width: 100%;
}
.banner-overlay3 {
	background: rgb(223, 144, 254);
background: linear-gradient(0deg, rgba(223,146,254,1) 7%, rgba(184,158,252,0.835171568627451) 59%, rgba(157,170,250,0.3449754901960784) 99%);
width: 100%;
height: auto;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}


.divider{
	color: #0158a2;
}


.banner h1 {
	color:#ffffff;
}
@media(max-width:768px){
    .banner h1{
        font-size: 30px;
    }
}
@media(max-width:768px){
    .banner2 h1{
        font-size: 30px;
    }
}
@media(max-width:768px){
    .banner3 h1{
        font-size: 30px;
    }
}

@media(max-width:768px){
    .banner-overlay2{
        padding: 150px 0px 100px;
    }
}

@media(max-width:768px){
    .banner-overlay3{
        padding: 150px 0px 100px;
    }
}

.banner p {
	margin: 0 auto;
	max-width: 870px
}
.banner-btn {
	background: #0158a2;
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 30px;
	margin-top: 30px;
}
.banner-btn:hover {
	background: #ffffff;
	color:#0158a2;
}

 





