 .vertical {
    border-left: 3px solid rgb(255, 255, 255);
    height: 200px;
    position:absolute;
   
}
.brand-top{
    width: 90px;
    height: auto;
}
.brand-footer{
    width: 60px;
    height: auto;
}

.footer-section{
   
    background: rgb(223,146,254);
    background: linear-gradient(80deg, rgba(223,146,254,1) 7%, rgba(184,158,252,0.9976365546218487) 59%, rgba(157,170,250,1) 99%);
    padding-bottom: 6rem;
    padding-top: 3rem;
} 
.red-social{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
   margin-right: 1rem;
   margin-top: 1rem;
    overflow: clip;
    cursor:pointer;
}